@use "./../../foundation/global" as *;

.c-timeline-card {
  border-bottom: solid 1px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-inline: 2rem;
}

.c-timeline-card:last-of-type {
  border-bottom: none;
}

.c-timeline-card__heading {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 1rem;
}

.c-timeline-block {
  height: 100%;
  // min-height: 40rem;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  // padding-inline: 2rem;
  // padding-bottom: 2rem;

  @include mq(lg) {
    // min-height: 20rem;
    padding-bottom: 2rem;
  }
}

.c-timeline-block:first-of-type {

  // border-right: solid 1px;
  @include mq(lg) {
    // border-right: none;
    border-bottom: solid 1px;
  }
}



.c-timeline-card {
  height: 250px;
}

// todo
// cardの高さを決める
// 要素数に応じて