@use "./../../foundation/global" as *;

.p-home-mv {
  height: calc(100vh - 8rem + 1px);
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  @include mq(md) {
    height: 40vh;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
  }
}
.p-home-mv__left {
  display: grid;
  border-right: solid 1px;
  @include mq(md) {
    grid-row: 1/-1;
  }
}
.p-home-mv__right {
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  @include mq(md) {
    visibility: hidden;
  }
}

.p-home-mv__title {
  grid-row: 1/-1;
  grid-column: 1/1;
  z-index: 1;
  align-self: center;
  justify-self: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  @include mq(sm) {
    width: fluid(150, 250, 375, 1024);
  }
}

.p-home-mv__title-container {
  width: 100%;
  height: 100%;
  grid-row: 1/1;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-home-mv__link {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: solid 1px;
  padding: 2rem;
  display: grid;
  justify-content: left;
  align-items: center;
}
.p-home-mv__link:last-of-type {
  border-bottom: none;
}
.p-home-mv__link:hover {
  background-color: $c-main;
  color: $c-base;
  transition: background-color 0.8s;
}

.p-home-mv__line {
  border-top: 1px solid;
}
